body{
font-family:Arial, Helvetica, sans-serif;
margin:0px;
background-color:rgb(16, 17, 19, 0.987) ;
    }   
p
    {font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size:30px;
    transition: ease-in-out 0.3s;
    cursor:default;
    }

h1{
    position:relative;
    text-align:center;
    color:white;
    font-size:80px;
    padding-top:10px;
    margin-bottom: 5px;
    cursor:default;
    
}

h2,h3{
    color:white;
    font-size:50px;
    cursor:default;
    
     }   

.border{
    color: white;
    border: 15px solid rgb(41, 35, 208);
    padding:20px;
    text-align: justify;
    border-radius:1vh;
    width:fit-content;
    align-self:center;
    transition: ease-in-out 0.3s;
    width:40%;
    letter-spacing:3px;
    border-radius:1vh;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0), 0px 0px 20px 0px rgb(0, 0, 0);
    }
.border:hover{
    box-shadow: 0px 0px 10px 0px white, 0px 0px 20px 0px white;
    transition: ease-in-out 0.3s;
    }
    h3{
font-size:30px;
text-align:center;   }
.alsoszegely {
    width:100%;
    margin: 0px;
    height:300px;
    
}
.felsoszegely{
    width:100%;
    margin:0px;
    margin-top:-7px;
    height:75px;
}
#topnav{
background-color:rgba(0, 0, 0, 0.534);
overflow:hidden;
margin-bottom:-7px;

}
#topnav a{
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  font-size:30px;
  padding: 14px 16px;
  text-decoration: none;
  text-align:justify;
}
#topnav a:hover{
    background-color:rgb(41, 35, 208);
}    
.gallery{
    margin: 25px;
    float: left;
    width: 250px;
    color:rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    transition:ease-in-out 0.3s;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0), 0px 0px 20px 0px rgb(0, 0, 0);
}
.gallery:hover{
    border: 1px solid rgba(0, 0, 0, 0.472);
    color:rgb(255, 255, 255);
    transition:ease-in-out 0.3s;
    background-color:rgba(0, 0, 0, 0.361);
}
.desc{
    padding: 8px;
    text-align: center;
    font-size:25px;
    transition:ease-in-out 0.3s;
    cursor:default;
}

.gallery img {
    width: 100%;
    height: auto;
    color:rgba(255, 255, 255, 0);
  }

.gallery img:hover{
    color:white;
}
.button{
    text-decoration:none;
    color:white;
    font-size:25px;   
    background-color:rgb(41, 35, 208);
    padding:5px;
    border-radius: 1vh;
    transition: ease-in-out 0.3s;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0), 0px 0px 20px 0px rgb(0, 0, 0);
}
.button:hover{
    background-color:white;
    color:rgb(41, 35, 208);
    transition: ease-in-out 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.195), 0px 0px 20px 0px rgba(255, 255, 255, 0.127);
}
#rendek{
    clear:both;
}
table{
    color: white;
    text-align:justify;
    font-size:25px;
    transition: ease-in-out 0.3s;
    border-collapse:collapse;
    width:25%;
    height:25%; 
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0), 0px 0px 20px 0px rgb(0, 0, 0);
    cursor:default;
    }

td{
    border:5px solid rgb(41, 35, 208);
    padding:15px;
}
#cim{
    border:7px solid rgb(182, 182, 225);
    background-color: rgba(255, 255, 255, 0.224);
    color: rgb(255, 255, 255);
    font-weight:bold;
    text-align:center;
}
